.emt-products-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 16px;
}

.emt-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 150px;
    text-decoration: none;
    padding: 8px 0;

    &:hover {
        .emt-product__title {
            color: $red;
        }
    }

    &__image-wrapper {
        position: relative;
    }

    &__sale-badge {
        position: absolute;
        background-color: $green;
        color: $white;
        font-size: 14px;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        padding: 4px 10px;
        text-transform: uppercase;
        text-align: center;
    }

    &__title {
        font-size: 22px;
        color: initial;
        transition: color .2s ease-in-out;
    }

    &__price, &__sale-price {
        color: $green;
        font-size: 24px;
        line-height: 1.4;
        margin: 0;

        &--on-sale {
            color: $red;
            text-decoration: line-through;
        }
    }
}